# dependencies
/node_modules

# next.js
/.next/
/.next-desktop/
/.next-mobile/
/.next-mobile-webpack/
/out/

# production
/build

# local env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# system files
.DS_Store
